# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
.env.*
venv/

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints

# Data
/data/
*.sqlite3

# Logs
logs/
*.log

# Docker
*.pid
docker-compose.override.yml

# System
.DS_Store
Thumbs.db

# n8n
n8n_data/
